<h2 mat-dialog-title [attr.color]="data.themeColor">Install Angular</h2>
<mat-dialog-content class="mat-typography">
  <div class="mat-dialog-content-body">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam porro eaque
    minima dignissimos distinctio obcaecati reiciendis! Corporis distinctio sed
    veritatis in nesciunt quibusdam labore ipsam, qui aspernatur tempora illo
    odio minima optio quos voluptas alias recusandae modi itaque natus magni.
    Voluptates neque eligendi enim reprehenderit dolor veritatis accusantium
    natus accusamus.
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
